.footer {
    padding: 40px 0;
    border-top: 0.5px solid var(--color-border-tertiary);
    background: #fff;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}
.footer-logo-img {
    height: 40px;
    width: auto;
}
.footer-links {
    display: flex;
    gap: 32px;
}

.footer-links a {
    font-size: 14px;
    color: var(--color-text-secondary);
    text-decoration: none;
}

.footer-links a:hover {
    color: var(--color-text-primary);
}

.footer-icons {
    opacity: 0.9;
    transition: opacity 0.2s ease;
}
.footer-icons:hover {
    opacity: 1;
}
.footer-icons img {
    width: 30px;
    height: 30px;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-bottom p {
    font-size: 13px;
    color: var(--color-text-tertiary);
}

/* 태블릿 */
@media (max-width: 1200px) {
    .footer {
    padding: 40px 30px;
    }
}
